@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: "Quicksand", sans-serif; */
  font-weight: 500;
  font-family: "Satoshi", sans-serif;
}

.cursive {
  font-family: "Sacramento", cursive;
}

.clash-display {
  font-family: "Clash Display", sans-serif;
}

.satoshi {
  font-family: "Satoshi", sans-serif;
}

.weight {
  font-weight: 600;
}

.activ {
  color: #fff;
  display: none;
}

.actives {
  background: #fff;
  color: #004db3;
  font-weight: 800;
  /* padding: 10px 20px; */
}

.color {
  color: #004db3;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
}
.swiper-pagination-bullet-active {
  background-color: #004db3 !important;
}

.mySwiper {
  height: 380px;

  /* margin-top: ; */
}

@media screen and (min-width: 1024px) {
  .mySwiper {
    height: 380px;
  }
}
